@charset "UTF-8";

body	{font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}

/* サイト名 */
.site h1 a {
  color: black;
  text-decoration: none;
}
.site h1 {
  margin: 0;  /* ブラウザ標準のmarginを削除 */
  font-size: 30px;
}

/* 横並びメニュー */
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;   /* padding:0 だけでリストのマークは消えるようだが */
}
.menu ul:after {
  /* 注: 複数カラムレイアウトにclearfixを入れると、隣のboxに引きずられる形でafterが意図した場所に入らない*/
  content: "";
  display: block;
  clear: both;
}

.menu li {
  float: left;
}
.menu li a {
  display: block;   /* リンクの範囲を横幅一杯まで広げる */
  padding: 5px;     /* リンク範囲を5px広げる */

  color: black;
  font-size: 14px;
  text-decoration: none;  /* リンクの下線を非表示に */
}

.menu li a:hover {
  background-color: #eeeeee;  /* 背景をグレーに */
}

/* 記事 */
.kiji h1 {
  font-size: 36px;
  margin-top: 0;   /* 他のパーツと横並びにした時に頭が揃うようにするため top は0 にそろえる */
  margin-bottom: 20px;
}
.kiji p {
  margin-top: 0;   /* 他のパーツと横並びにした時に頭が揃うようにするため top は0 にそろえる */
  margin-bottom: 20px;
  /*フォントサイズはデフォルト(16px)でOK*/
}


/* 768px以上で有効 : ボックスを横並びに */
@media (min-width: 768px) {

  /* BOX3とBOX4を横に並べる設定 */
  .boxA:after	{content: "";
    display: block;
    clear: both}

  .box3	{float: left;
    width: 70%}

  .box4	{float: left;
    width: 30%}

}
